/* --------------------- Styles.css --------------------- */
/* CSS file with changes & additions to the Bulma library */
.main-content {
    margin-top: 125px;
}

.navbar-brand-hover {
    margin: 5px;
    transition: 300ms ease;
}

.navbar-brand-hover:hover, .navbar-brand-hover:focus {
    text-decoration: none;
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(105%);
}

.navbar-brand-text {
    margin-top: 13px;
    font-weight: normal;
}

.navbar-brand-table {
    border-collapse: collapse;
}

.navbar-brand-bracket {
    font-size: 500%;
    font-weight: normal;
    padding-bottom: 10px;
    padding-top: 0;
    line-height: 85%;
}

.navbar-burger {
    margin-top: 13px;
    margin-right: 13px;
    transition: 300ms ease;
}

.navbar-burger:hover, .navbar-burger:focus {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(105%);
}

.navbar-item .icon:only-child,
.navbar-link .icon:only-child {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.button {
    transition: 300ms ease;
}

.button:hover, .button:focus {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(105%);
}

.social-icons {
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
    padding: 0 10px;
}

.object-hover {
    transition: 300ms ease;
}

.object-hover:hover, .object-hover:focus {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(105%);
}

@font-face {
    font-family: consolas;
    src: url("fonts/Consolas.ttf");
}

.is-family-monospace {
    font-family: consolas, monospace;
}

.wrap-element {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.wrapped-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}